@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

:root {
  --danger: red;
  --primary: #0b66c2;
  --accent: #33a5fc;
  --neutral-100: #ffffff;
  --neutral-200: #f4f2ee;
  --text-100: #666666;
  --text-200: #191919;
  --border: #dfdeda;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Phone: up to 480px wide */

body {
  color: var(--text-200);
  background: var(--neutral-200);
  font-family: "Jura", sans-serif !important; /* Updated font-family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 480px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--neutral-100);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue-2);
  border-bottom: 1px solid var(--border);
}

.primaryButton {
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 5px 20px;
  background-color: var(--primary);
  color: var(--neutral-100);
  font-size: 1.2rem;
  font-family: "Jura";
  display: flex;
  justify-content: center;
  align-items: center;
}
.primaryButton:hover {
  background-color: var(--accent);
  cursor: pointer;
}
.primaryButton:disabled {
  cursor: not-allowed;
  background-color: #ccc !important; /* optional */
  color: #666; /* optional */
}
.dangerButton {
  /* display: flex; */
  font-family: "Jura";
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 5px 15px;
  border: 1px solid var(--danger);
  background-color: var(--neutral-100);
  color: var(--danger);
  font-size: 1.2rem;
}
.dangerButton:hover {
  opacity: 0.6;
  cursor: pointer;
}
.deleteButton {
  border: none;
  background-color: transparent;
  color: var(--text-200);
}
.deleteButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.editButton {
  border: none;
  background-color: transparent;
  color: var(--text-200);
}
.editButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
