.container {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upperBox {
    border: 1px solid #ccc;
    width: 100%;
    height:calc(100vh - 100px);
    background-color: var(--neutral-200);
}

.lowerBox {
  border: 1px solid #ccc;
  width: 100%;
}
.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}